# Miscellaneous
*.class
*.log
*.lock
*.pot
*.svg
.DS_Store

# IntelliJ
*.iml
*.ipr
*.iws
.idea/

# Flutter
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/ios/.symlinks/
/ios/Flutter/
/ios/Pods/
/ios/Runner.xcworkspace
.ios/

# Android
/android/key.properties
/android/.gradle
/android/app/build
android/gradlew
android/gradle.properties
android/gradle/wrapper/gradle-wrapper.jar
android/local.properties

# Dart
/doc/api/
/.dart_tool/